<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
        }
        ul {
            width: 180px;
            margin-top: 10px;
            overflow-y: auto;
            overflow-x: auto;
            border: 1px solid gray;
        }
        li {
            border: 1px solid gray;
        }
        .active {
            background: gray;
        }
        .normal {
            background: white;
        }
    </style>    
</head>
<body>
    <div id="app">
        <input 
            type="text"
            v-model="inputData"
            id="text1"
            @keydown.up.down.enter.prevent="keydown"            
        />
        <div class="list" v-if="filterlist.length>0">
            <ul>
                <li 
                    v-for="(item,index) in filterlist"
                    :class="[selectedindex===index?'active':'normal']"
                    @mouseover="selectedindex=index"
                    @click="add(item)"
                >
                    {{item}}
                </li>
            </ul>
        </div>        
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
              inputData: "",
              list: [
                '张三',
                '李四',
                '老王',
                '赵柳',
                '金科',
                '张四'
              ],
              selectedindex: 0
            },
            computed: {
                filterlist() {
                    var arr = this.list.filter(item => {
                        return this.inputData != "" && item.indexOf(this.inputData) >=0 ;
                    })
                    return arr;
                }
            },
            methods: {    
                add(item) {
                    document.getElementById("text1").value = item;
                },
                keydown(event) {
                    switch(event.keyCode) {
                        case 38: 
                            if (this.selectedindex > 0)
                                this.selectedindex--;
                            break;
                        case 40: 
                            if (this.selectedindex < this.list.length -1)
                                this.selectedindex++;
                            break;
                        case 13: 
                            document.getElementById("text1").value = this.list[this.selectedindex];
                            break;
                    }
                }                 
            }        
        })
    </script>
</body>
</html>