<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InputEmail</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .active {
            background: rgba(0, 0, 0, .5);
        }
    </style>    
</head>
<body>
    <div id="app">
        
    </div>

    <script>
        const InputEmail = {
            props: {
                value: String
            },
            data() {
                return {
                    search: this.value,
                    selectIndex: 0,
                    emailExt: [
                        '@qq.com',
                        '@163.com',
                        '@hotmal.com'
                    ]                    
                }
            },
            methods: {
                up(e) {
                    this.selectIndex--;
                    if (this.selectIndex <= 0) {
                        this.selectIndex = 0;
                    }
                },
                down() {
                    this.selectIndex++;
                    if (this.selectIndex >= this.emailList.length) {
                        this.selectIndex = this.emailList.length - 1;
                    }
                },
                enter() {
                    this.search = this.emailList[this.selectIndex]
                }
            },
            computed: {
                emailList() {
                    if (!this.search) return [];
                    if (/\@/.test(this.search)) return [];
                    return this.emailExt.map(item => {
                        return this.search + item
                    })
                }
            },
            watch: {
                value(v) {
                    this.search=v;
                },
                search(v) {
                    this.$emit("input",v);
                }
            },         
            template: `
            <div>
                <input
                    @keydown.enter="enter"
                    @keydown.prevent.up="up"
                    @keydown.down="down"
                    v-model="search"
                />
                <ul>
                    <li
                        v-for="(item, index) in emailList"
                        :class="{
                            active: selectIndex === index
                        }"
                    >
                        {{item}}
                    </li>
                </ul> 
            </div>           
            `
        }

        const vm = new Vue({
            el: '#app',
            data: {
              search: "123"
            },
            components: {
                InputEmail
            },
            template: `
                <div>
                    父组件: <input type="text" v-model="search" />
                    <hr />
                    子组件: <InputEmail v-model="search" />
                </div>
            `
        })
    </script>
</body>
</html>